<%- layout('layouts/app') %>

<div class="content position-relative d-flex flex-column ">
  <div class="container mt-1">
    <div class="row m-5">
      <div class="column mt-5">
        <p class="md">Edit an Article</p>
      </div>
      <div class="column mt-3 forum p-4 shadow rounded-4">
        <form action="/article/<%= article._id %>/edit?_method=PUT" method="POST" class="mt-4" enctype="multipart/form-data">
          <div class="mb-3 row">
            <label for="title" class="col-auto col-form-label">
              <p class="sm">Title</p>
            </label>
            <div class="col-sm-10">
              <input type="text" id="title" name="title" class="form-control" value="<%= article.title %>" minlength="10"  maxlength="100" required />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="description" class="col-auto col-form-label"></label>
              <p class="sm">Description</p>
            </label>
            <textarea name="description" id="description" class="form-control " rows="3" cols="30" minlength="10" maxlength="300" required><%= article.description %></textarea>
          </div>
          <div class="mb-3 row">
            <label for="content" class="col-auto col-form-label"></label>
              <p class="sm">Content</p>
            </label>
            <textarea name="content" id="content" class="form-control " rows="25" cols="30" minlength="50" maxlength="7000" required><%= article.markdown %></textarea>
          </div>

          <div class="mb-3 row">
            <input type="file" class="form-control" name="image" required>
          </div>


            <div>
              <button type="submit" class="btn btn-create rounded-3  ">POST</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
