<%- layout('layouts/app') %>

<div class="content position-relative d-flex flex-column pb-5 mb-5">
  <h1 class="mt-4">ess</h1>

  <div class="m-4 ms-4 px-2">
    <a href="/article" class="btn md back"
      ><i class="bi bi-arrow-left-square"></i
    ></a>
  </div>
  <div class="article-card px-2 m-5 mb-2 mt-2 shadow">
    <div class="card-body p-2">
      <div class="profile-container d-flex mb-2">
        <div class="img-container">
          <% if (article.author.image) { %>
          <img
            src="/uploads/<%= article.author.image %>"
            class="img-thumbnail img-fluid circle-img"
            alt="..."
            class=""
          />
          <% } else { %>

          <img
            src="/img/profile-1.jpg"
            class="img-thumbnail img-fluid circle-img"
            alt="..."
            class=""
          />

          <% } %>
        </div>

        <h6 class="m-2 mt-3">
          <%= article.author.name %>
          <i class="bi bi-patch-check-fill mt-1 text-primary ms-2"></i>
        </h6>

        <p class="sm ms-auto mt-1 text-secondary date mt-3">
          <%= article.created_at.toLocaleDateString("id-ID", {day: "numeric",
          month:"long", year:"numeric"}) %>
        </p>

        <% if (article.author._id.toString() === userId) { %>
        <div class="btn-group mb-3">
          <button
            class="btn"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-three-dots-vertical fw-bold"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <form
                action="/article/<%= article._id %>/edit"
                method="GET"
                class="dropdown-item ms-0"
              >
                <button class="btn">Edit</button>
              </form>
            </li>
            <li>
              <form
                action="/article/<%= article._id %>/delete?_method=DELETE"
                method="POST"
                class="dropdown-item"
              >
                <button class="btn" onclick="return confirm('Are You Sure')">
                  Delete
                </button>
              </form>
            </li>
          </ul>
        </div>

        <% } %>
      </div>
      <h4 class="card-title fw-bold"><%= article.title %></h4>
      <img
        src="/uploads/<%= article.image%>"
        class="card-img-top my-2"
        alt=""
      />

      <p><%- article.sanitizedHtml %></p>
    </div>
  </div>
</div>
